@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;900&family=Lato:wght@400;700&family=Montserrat&display=swap");

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

li {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

.purple {
    color: #6415ff;
}

.btn {
    background-color: #6415ff;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    font-weight: 900;
    font-size: 100%;
    border: none;
    transition: all 500ms ease;
}

.btn:hover {
    background-color: #3c0d99;
    cursor: not-allowed;
}

h1{ 
    font-size: 3rem;
}

img {
    max-width: 100%;
    display: block;
}


/*

NAVIGATION

*/

nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 40px;
    margin-right: 12px;
}

.nav__logo--link {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
}

.nav__logo--link:hover {
    color: #6415ff;
}

.nav__link {
    font-size: 0.875rem;
    font-weight: 600;
    margin: 0 1.5rem;
    transition: all 500ms ease;
}

.nav__link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #6415ff;
}

.nav__link:nth-child(5) {
    margin-left: 3rem;
}

.nav__link--primary {
    background-color: #6415ff;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    transition: all 300ms;
}

.nav__link--primary:hover {
    background-color: #3c0d99;
    color: white;
    text-decoration: none;
}

/*

HEADER 

*/

header {

}

.container {
    padding: 80px 0;
}

.header__description {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;align-items: center;
}

.header__left--column {
    width: 100%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    animation: fade-right 650ms 500ms backwards;
}

@keyframes fade-right {
    0% { 
    opacity: 0;
    transform: translateX(-40px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.header__para {
    font-size: 18px;
    margin: 40px 0;
}

.header__inputs {
    margin-bottom:64px;
    position: relative;
}

.header__input {
    width: 80px;
    padding: 20px 192px 20px 32px;
    border-radius: 9999px;
    transition: all 300ms ease;
    opacity: 0.9;
    font-weight: 500;
    font-size: 100%;
}

.header__input:hover {
    border: 2px solid gray;
}

.header__input:active {
    border: 2px solid red;
}

.btn__header {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 10px 22% 8px 10px;
    border: none;
}

.customers {
    text-transform: uppercase;
    color: rgb(160,174,192);
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 12px;
    letter-spacing: 0.05rem;
}

.customer__logos {
    margin: 16px 0 0;
    padding: 0 128px 0 0;
    opacity: 0.5;
}

.header__right--column {
    width: 100%;
    max-width: 60%;
    animation: fade-left 650ms 500ms backwards;
}

@keyframes fade-left {
    0% {
    opacity: 0;
    transform: translateX(40px);
    }

    100% {
    opacity: 1;
    transform: translateX(0);
    }
}

.header__img--wrapper {
    width: 100%;
    max-width: 800px;
}

.header__img {
    width: 100%;
}
